.footer {
    height: 60px;
    background: linear-gradient(90deg, #00a3b4 3.36%, rgba(7, 41, 95) 62.36%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }